@{
    ViewBag.Title = "About";
}
<h1 class="pageHeading">
        <i class="fas fa-question" data-fa-transform="shrink-1 up-2 right-2" style="background:#EF9A9A"></i>
    <span>@ViewBag.Title.</span>
</h1>
<h2 class="pageSubheading">
    <span>@ViewBag.Message</span>
    <a class="btn btn-primary text-white float-right mr-1" href="@Url.Action("Index", "Home")">
        <i class="fas fa-arrow-left"></i> Back
    </a>
</h2>
<div class="pageContent">
    <div class="lead text-center">
        <p>Gojira(ゴジラ) → Godzila</p>
        <p>Jira → ???</p>
        <p>Useri → Monstri</p>
        <p>Proiecte → Orase</p>
        <p>Task-uri → Cladiri</p>
    </div>
</div>
