@{
    ViewBag.Title = "About";
}
<h1 class="pageHeading">
    <i class="fas fa-building" data-fa-transform="up-2 right-2" style="background:#F5D472"></i>
    <span>@ViewBag.Title.</span>
</h1>
<h2 class="pageSubheading">@ViewBag.Message</h2>
<div>
    <p>Gojira(ゴジラ) -> Godzila</p>
    <p>Jira -> ???</p>
</div>
