@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Zilla</h1>
    <p class="lead">Aplicatie care face task-uri la proiecte la echipe la firme.</p>
    <br />
    <p><a href="@Url.Action("Dashboard", "Home")" class="btn btn-primary btn-lg">Dashboard &raquo;</a></p>
</div>

<div class="row">
</div>