@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Zilla</h1>
    <p class="lead">Aplicatie care face tot ce-ti doreste inimioara.</p>
    <p><a href="https://google.com" class="btn btn-primary btn-lg">Iesi acasa &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ce sa mai incepi? aplicatia e gata
        </p>
        <p><a class="btn btn-secondary btn-lg btn-block" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>.NET imi da cosmaruri</p>
        <p><a class="btn btn-secondary btn-lg btn-block" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>sa-mi plateasca bill gates psihiatru.</p>
        <p><a class="btn btn-secondary btn-lg btn-block" href="#">Learn more &raquo;</a></p>
    </div>
</div>