@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Zilla</h1>
    <p class="lead">Aplicatie care face tot ce-ti doreste inimioara.</p>
    <p><a href="https://google.com" class="btn btn-primary btn-lg">Iesi acasa &raquo;</a></p>
</div>

<div class="row">
</div>